---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">;
const post = Astro.props;
---

<style>
  p {
    text-align: center;
    margin: 0;
  }
</style>

<Layout titlePrefix={post.data.title} description={post.data.description}>
  <h1>{post.data.title}</h1>
  <p>Published: <FormattedDate date={post.data.date} /></p>
  {
    post.data.updatedDate && (
      <p>
        Last updated: <FormattedDate date={post.data.updatedDate} />
      </p>
    )
  }

  <slot />
</Layout>
