---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { blogSchema } from "../content/config.ts";

type Props =
  | CollectionEntry<"blog">
  | {
      frontmatter: CollectionEntry<"blog">["data"];
    };

const props = Astro.props;

type Metadata = {
  title: string;
  description: string;
  date: Date;
  updatedDate?: Date;
};

let post: Metadata;
if ("frontmatter" in props) {
  post = blogSchema.safeParse(props.frontmatter).data!;
} else {
  post = props.data;
}
---

<style>
  p {
    text-align: center;
    margin: 0;
  }
</style>

<Layout titlePrefix={post.title} description={post.description}>
  <h1>{post.title}</h1>
  <p>Published: <FormattedDate date={post.date} /></p>
  {
    post.updatedDate && (
      <p>
        Last updated: <FormattedDate date={post.updatedDate} />
      </p>
    )
  }

  <slot />
</Layout>
